#phoneDetails{
    background-color: cornflowerblue;
}
#clicked{
    background-color: rgb(123, 185, 207);
    border: 2px solid whitesmoke;
    border-radius: 50%;
    color: black;
}
#spinner{
    display: none;
    width: 20%;
    
}
.spinner-img{
    width: 100%;
    height: 100%;
}
#phone-details{
    color: black;
    text-align: center;
}
#warning-text{
    color: red;
}